<section id="registrations" class="medicrypt-page d-flex align-items-center">
    <div style="padding-top: 60px;" class="container">
        <button class="btn btn-large" [routerLink]="['/hospital-registration']">Hospital Registration</button>
        <button [routerLink]="['/doctor-registration']" class="btn btn-large">Doctor Registration</button>
        <button [routerLink]="['/patient-registration']" class="btn btn-large">Patient Registration</button>
        <button [routerLink]="['/laboratory-registration']" class="btn btn-large">Laboratory Registration</button>
        <button [routerLink]="['/insuarance-registration']" class="btn btn-large">Insurance Registration</button>
        <button [routerLink]="['/researcher-registration']" class="btn btn-large">Researcher Registration</button>
</div>
</section>
